a,a:focus,a:hover{
    text-decoration:none
}
body,header .navbar-toggle .icon-bar{
    background-color:#fff
}

body{
    color:#676767;
    font-size:15px;
    font-family:Roboto,Arial;
    line-height:1.8;
    width:100%;
    margin:0 auto
}

header .navbar-nav>li>a{
    z-index:1;
    color:#676767
}
.nav>li>a:hover,header .nav>li>a:focus{
    text-decoration:none;
    color:#FFF
}
footer,header .navbar-nav>li.active:hover>a{
    color:#fff
}
header .navbar-nav>li>a i{
    font-size:16px
}
.bs-docs-nav .navbar-header .navbar-toggle:hover,header .bs-docs-nav .navbar-header .navbar-toggle:focus{
    background-color:#f9f9f9;
    border-color:#f9f9f9
}
footer{
    padding-top:10px;
    padding-bottom:30px
}
footer.footer-light{
    background-color:#fff;
    color:#676767;
    padding-top:10px;
    padding-bottom:0
}
footer .col-center{
    float:none;
    margin-left:auto;
    margin-right:auto
}
footer .title-footer{
    font-size:20px;
    list-style-type:none;
    margin-left:0;
    line-height:30px;
    margin-top:30px;
    color:#00918d
}
footer .email-footer .des-email{
    font-size:15px;
    padding:22px 0;
    line-height:18px
}
footer .email-footer .input-group{
    border:1px solid #e7e5e5;
    background-color:#3eb661
}
footer .email-footer .input-group .form-control{
    font-size:17px
}
footer .email-footer .input-group .input-group-btn button{
    background-color:#3eb661;
    border:1px solid #3eb661;
    color:#fff
}
footer ul{
    list-style:none;
    margin:25px 0 0;
    padding:0
}
footer ul>li{
    list-style-type:disc;
    margin-left:20px
}
footer ul>li.item-list-social,footer ul>li.item-top{
    list-style-type:none;
    margin-left:0
}
footer ul>li.item-list-social{
    padding-bottom:5px
}
footer ul>li.item-list-social i{
    font-size:20px;
    color:#fff;
    padding-right:10px
}
footer ul>li a,footer ul>li a:hover{
    color:#fff
}
footer.footer-light ul{
    list-style:none;
    margin:20px 0;
    padding:0;
    -webkit-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s
}
footer.footer-light .col-item-footer.active ul{
    height:inherit
}
@media (max-width:450px){
    footer.footer-light ul{
        height:0;
        overflow:hidden;
        margin:0;
        -webkit-transition:all .3s;
        -o-transition:all .3s;
        transition:all .3s
    }
    footer .title-footer{
        margin:10px 0
    }
    footer .title-footer::after{
        font:normal normal normal 14px/1 FontAwesome;
        content:"\f105";
        font-size:10px;
        margin-top:3px;
        margin-left:5px
    }
}
footer.footer-light ul>li{
    list-style-type:disc;
    margin-left:15px;
    color:#676767
}
footer.footer-light ul>li.item-top{
    list-style-type:none;
    margin-left:0
}
footer.footer-light ul>li.item-list-social{
    list-style-type:none;
    margin-left:0;
    padding-bottom:5px
}
footer.footer-light ul>li.item-list-social i{
    font-size:20px;
    color:#676767;
    padding-right:10px
}
footer.footer-light ul>li a{
    color:#676767
}
footer.footer-light ul>li a:hover{
    color:#00918d
}
footer .btn-totop{
    margin-bottom:40px;
    background-color:rgba(255,255,255,.2);
    padding-top:15px;
    padding-bottom:15px
}
footer .btn-totop img{
    width:18px
}
footer .footer-logo{
    padding:5px;
    text-align:center;
    font-size:16px;
    font-weight:700;
    color:#172A59;
    background-color:#fff
}
footer .footer-logo img{
    width:150px
}
footer .bottom-footer{
    margin:30px 0 10px;
    font-size:13px
}
footer .bottom-footer span{
    padding-right:20px
}
footer .bottom-footer .contact{
    padding-top:25px;
    padding-bottom:25px;
    margin-bottom:0
}
footer .bottom-footer .copyright{
    margin:0;
    padding-top:18px;
    padding-bottom:170px;
    background-color:#172A59;
    color:#fff
}
footer .bottom-footer2{
    padding:15px 0;
    font-size:13px;
    background-color:#fff
}
footer .bottom-footer2 span{
    padding-right:20px
}
footer .bottom-footer2 .contact{
    padding-top:25px;
    padding-bottom:25px;
    margin-bottom:0
}
footer .bottom-footer2 .copyright{
    margin:0;
    padding-top:18px;
    padding-bottom:170px;
    background-color:#172A59;
    color:#fff
}
footer .bottom-footer2 .siteby{
    color:#fff
}
footer .bottom-footer2 .siteby:hover{
    color:#172A59
}
footer .form-login-index .checkbox label{
    font-size:13px;
    color:#b6b4b4
}
footer .form-login-index .div-submit{
    text-align:center
}
footer .form-login-index .div-submit .btn-submit{
    background-color:#333;
    padding:7px 25px;
    border-style:none
}
section .headimg{
    position:relative;
    padding-top:0!important;
    padding-bottom:0!important
}
.headline-white,section .headline{
    margin-bottom:0
}
section .headline h2{
    margin:40px 0 20px;
    font-size:45px;
    color:#676767;
    text-align:center
}
section .headline h2 span{
    color:#676767;
    font-size:14px;
    float:right
}
section .col-center{
    float:none;
    margin-left:auto;
    margin-right:auto
}
input[type=checkbox].css-checkbox{
    position:absolute;
    z-index:-1000;
    left:-1000px;
    overflow:hidden;
    clip:rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0
}
input[type=checkbox].css-checkbox+label.css-label,input[type=checkbox].css-checkbox+label.css-label-right,input[type=checkbox].css-checkbox+label.css-label-right2{
    display:inline-block;
    background-repeat:no-repeat;
    min-height:15px;
    margin-bottom:0;
    line-height:15px
}
input[type=checkbox].css-checkbox+label.css-label{
    padding-left:20px;
    background-position:0 0;
    vertical-align:middle;
    cursor:pointer
}
input[type=checkbox].css-checkbox:checked+label.css-label{
    background-image:url(../img/cb_small_2.png);
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
input[type=checkbox].css-checkbox:checked+label.css-label-right,label.css-label{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none
}
label.css-label{
    background-image:url(../img/cb_small_1.png);
    user-select:none
}
input[type=checkbox].css-checkbox+label.css-label-right{
    padding-left:0;
    padding-right:20px;
    background-position:top right;
    vertical-align:middle;
    cursor:pointer
}
input[type=checkbox].css-checkbox:checked+label.css-label-right{
    background-image:url(../img/cb_small_2.png);
    user-select:none
}
input[type=checkbox].css-checkbox:checked+label.css-label-right2,label.css-label-right{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none
}
label.css-label-right{
    background-image:url(../img/cb_small_1.png);
    user-select:none;
    color:#dad5d5
}
input[type=checkbox].css-checkbox+label.css-label-right2{
    padding-left:20px;
    padding-right:0;
    background-position:top left;
    vertical-align:middle;
    cursor:pointer;
    font-size:13px;
    color:#818180
}
input[type=checkbox].css-checkbox-big+label.css-label-big,input[type=checkbox].css-checkbox2+label.css-label2{
    display:inline-block;
    background-position:0 0;
    background-repeat:no-repeat;
    vertical-align:middle;
    cursor:pointer
}
input[type=checkbox].css-checkbox-big,input[type=checkbox].css-checkbox2,input[type=checkbox].item-checkbox1{
    position:absolute;
    z-index:-1000;
    overflow:hidden;
    clip:rect(0 0 0 0);
    margin:-1px;
    border:0;
    left:-1000px;
    height:1px;
    width:1px
}
input[type=checkbox].css-checkbox:checked+label.css-label-right2{
    background-image:url(../img/cb2_small_2.png);
    user-select:none
}
input[type=checkbox].css-checkbox-big:checked+label.css-label-big,label.css-label-right2{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none
}
label.css-label-right2{
    background-image:url(../img/cb2_small_1.png);
    user-select:none;
    color:#000
}
input[type=checkbox].css-checkbox-big{
    padding:0
}
input[type=checkbox].css-checkbox-big+label.css-label-big{
    padding-left:30px;
    min-height:18px
}
input[type=checkbox].css-checkbox-big:checked+label.css-label-big{
    background-image:url(../img/cb_big_2.png);
    user-select:none
}
input[type=checkbox].css-checkbox2:checked+label.css-label2,label.css-label-big{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select:none
}
label.css-label-big{
    background-image:url(../img/cb_big_1.png);
    user-select:none
}
input[type=checkbox].css-checkbox2{
    padding:0
}
input[type=checkbox].css-checkbox2+label.css-label2{
    padding-left:20px;
    min-height:15px;
    line-height:15px
}
input[type=checkbox].css-checkbox2:checked+label.css-label2{
    background-image:url(../img/cb_small2_2.png);
    user-select:none
}
label.css-label2{
    background-image:url(../img/cb_small2_1.png)
}
input[type=checkbox].item-checkbox1{
    padding:0
}
input[type=checkbox].item-checkbox1+label.css-label1{
    background-repeat:no-repeat;
    background-position:right 5px top 5px;
    vertical-align:middle;
    cursor:pointer;
    min-height:15px;
    line-height:15px;
    padding:7px 20px;
    display:block;
    text-align:left;
    margin-bottom:0;
    font-size:14px
}
input[type=checkbox].item-checkbox2,input[type=checkbox].onoff-checkbox1{
    position:absolute;
    z-index:-1000;
    overflow:hidden;
    clip:rect(0 0 0 0);
    padding:0;
    border:0
}
input[type=checkbox].item-checkbox1:checked+label.css-label1{
    background-image:url(../img/cb_big2_2.png);
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:#e6e6e5
}
input[type=checkbox].onoff-checkbox1{
    left:-1000px;
    height:1px;
    width:1px;
    margin:-1px
}
input[type=checkbox].onoff-checkbox1+label.css-label1{
    display:inline-block;
    background-repeat:no-repeat;
    background-position:0 0;
    vertical-align:middle;
    cursor:pointer;
    min-height:15px;
    line-height:15px;
    background-image:url(../img/cb_small3_1.png);
    width:66px;
    height:28px
}
input[type=checkbox].onoff-checkbox1:checked+label.css-label1{
    background-image:url(../img/cb_small3_2.png);
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width:66px;
    height:28px
}
input[type=checkbox].item-checkbox2:checked+label.css-label2,label.css-label1{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select:none
}
label.css-label1{
    user-select:none
}
label.css-label1 span{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    display:inline-block;
    margin-bottom:15px;
    text-align:center;
    font-size:16px
}
input[type=checkbox].item-checkbox1:checked+label.css-label1 .img1,label.css-label1 .img2{
    display:none
}
input[type=checkbox].item-checkbox1:checked+label.css-label1 .img2{
    display:initial
}
input[type=checkbox].item-checkbox2{
    left:-1000px;
    height:1px;
    width:1px;
    margin:-1px
}
input[type=checkbox].item-checkbox2+label.css-label2{
    background:0 0;
    vertical-align:middle;
    cursor:pointer;
    min-height:15px;
    border:1px solid #cdcccb;
    padding:10px 25px;
    height:42px;
    display:block;
    text-align:left;
    line-height:20px;
    font-size:16px;
    font-weight:700;
    margin-bottom:25px
}
input[type=checkbox].item-checkbox2:checked+label.css-label2{
    background-repeat:no-repeat;
    background-position:right 5px top 5px;
    background-image:url(../img/cb_big2_2.png);
    user-select:none;
    background-color:#cdcccb
}
label.css-label2{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
#toTop{
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    display:none;
    font-size:40px;
    color:#3db660
}
#toTop .fa{
    margin-right:5px
}
